[package]
name = "web"
version = "0.1.0"
edition = "2021"

[dependencies]
dioxus = { workspace = true, features = ["router", "fullstack"] }
ui = { workspace = true }
api = { workspace = true }
chrono = { version = "0.4", features = ["serde"] }
dioxus-primitives = { git = "https://github.com/DioxusLabs/components" }

[features]
default = []
web = ["dioxus/web"]
server = ["dioxus/server", "ui/server"]
